{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="margin-bottom:100px;">
    <div class="row fs-5 text-center">
        <h3 class="text-center">Shopping Cart</h3>
        <div class="col-sm-8">
            <table class="table table-bordered">
            <tr>
                <th colspan="5">
                    Cart Items
                </th>
            </tr>


            {% for i in c %}
            <tr>
                <td>
                    <img src="{{i.product.image.url}}" height="150px" width="150px">
                </td>
                <td><h6>{{i.product.name}}</h6></td>
                <td>
                    <h6>Product Id:{{i.product.id}}</h6>
                    <h6>Unit Price:{{i.product.price}}</h6>
                    <h6>Quantity:{{i.quantity}}*{{i.product.price}}</h6>
                </td>
                <td>
                    Subotal:{{i.subtotal}}
                </td>

                <td>
                    {% if i.product.stock > 0 %}
                        <a href="{% url 'cart:addtocart' i.product.name %}"><i class="fa-solid fa-square-plus fs-5"></i></a>
                        <a href="{% url 'cart:cart_remove' i.product.name %}"><i class="fa-solid fa-minus fs-5"></i></a>
                        <a href="{% url 'cart:full_remove' i.product.name %}"><i class="fa-solid fa-trash fs-5"></i></a>

                    {% else %}
                        <a href="{% url 'cart:cart_remove' i.product.name %}"><i class="fa-solid fa-minus fs-5"></i></a>
                        <a href="{% url 'cart:full_remove' i.product.name %}"><i class="fa-solid fa-trash fs-5"></i></a>

                    {% endif %}

                </td>

            </tr>

            {% endfor %}

        </table>

        </div>

        <div class="col-sm-4" style="position:relative;">
            <table class="table table-bordered">
            <tr>
                <th colspan="5">
                    Check Out
                </th>
            </tr>
            <tr>
               <td>
                   TOTAL: {{total}}
               </td>
            </tr>
            </table>
            <a href="{% url 'cart:orderform' %}" class="btn btn-danger" style="position:absolute; left:10px;">PlaceOrder</a>
            <a href="{% url 'shop:allcat' %}" class="btn btn-danger" style="position:absolute; right:10px;">Continue Shopping</a>
        </div>
    </div>
</div>


{% endblock %}