<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
    <div class="container" style="margin-bottom:100px;">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">User name</label>
        <input type="text" class="form-control" name="u" placeholder="Enter the username">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="p" id="exampleInputPassword1" placeholder="Enter the password">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</center>

{% endblock %}



